#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title #{@user.username}さんのフォロワー
- if @users.empty?
  %p.no-follow_and_following No followers
  .follow-img
- else
  = render "follow_and_following"
= render "shared/footer"