#header.big-bg
  .wrapper
    = render "shared/header"
  .page-title #{@user.username}さんの投稿一覧
- @cafeterias.each do |cafeteria|
  = render partial: "cafeterias/cafeteria", locals: { cafeteria: cafeteria }
= render "shared/footer"