.content {
  margin-top: 20px;
}
.content__right__top--title {
  color: #432;
}

.content__right__bottom--userName--btn {
  color: #432;
  margin-right: 15px;
}

.content__right__bottom {
  display: flex;
}

.content__right__top--title:hover {
  color: #0bd;
}

.content__right__bottom--userName--btn:hover {
  color: #0bd;
}