.table.is-narrow th {
  padding: 0.5em 0.5em;
}

.table.is-narrow td {
  padding: 0.5em 0.5em;
}

#cafeteria_text {
  width: 100%;
}

.impression {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 0.5rem;
}

.content h4 {
  margin-bottom: 0.25rem;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
  margin-bottom: 0.5em;
}

.comments {
  margin-left: 14%;
}
.comment-delete {
  padding: 0.15em 0.15em;
  text-decoration: none;
  color: red;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
}
.comment-delete:hover {
  background: red;
  color: white;
  font-weight: bold;
}
.comment-caution {
  margin: 10px 0 0 14% ;
  color: #ff6666;
  font-weight: bold;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #ff3300;
  margin-right: 2px;
}
.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #ff3300;
  margin-right: 2px;
}

.likes-show {
  margin: 0px 14.5% 2% 14.5%;

}
.image img {
  height: 100%;
  // border-radius: 50%;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}