.table.is-narrow th {
  padding: 0.5em 0.5em;
}

.table.is-narrow td {
  padding: 0.5em 0.5em;
}

#cafeteria_text {
  width: 100%;
}

.impression {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 0.5rem;
  color: #432;
}

.content h4 {
  margin-bottom: 0.25rem;
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
  margin-bottom: 0.5em;
}

.comments {
  margin: 0 15%;
  background: #eeeeee;
  padding: 1rem;
  border-radius: 3px;
}
.comments p {
  padding-top: 5px;
}
.comment-delete {
  padding: 0.15em 0.15em;
  text-decoration: none;
  color: red;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
  margin-left: 15px;
}
.comment-delete:hover {
  color: red;
  font-weight: bold;
}
.comment-caution {
  margin: 10px 0 0 14% ;
  color: #ff6666;
  font-weight: bold;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #ff3300;
  margin-right: 2px;
}
.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #ff3300;
  margin-right: 2px;
}

.likes-show {
  margin: 0px 14.5% 2% 14.5%;

}
.image img {
  height: 100%;
  border-bottom: 0.1px solid lightgrey;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: 280px;
  margin-bottom: 10px;
  background: white;
  border: #ee82ee 1.5px solid;
}
.profile-default-image {
  border-radius: 50%;
  width: 300px;
  height: 280px;
  background: white;
  border: #ee82ee 1.5px solid;
  margin-bottom: 10px;
}

.button.is-success.cafeteriaManage__edit {
  font-weight:bold;
}
.button.is-danger.cafeteriaManage__delete {
  font-weight:bold;
 }

.cafeteriaTitle {
  color: #432;
  font-size: 25px;

}
.cafeteriaDate {
  color: #432;
}

.media a {
  text-decoration: none;
}

.madia {
  margin: 0;
}

.comment-label {
  padding: 5px 0;
}