$header-text: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2%;
}
.page-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0;
  .title-list {
    display: flex;
    .home-link {
      display: flex;
      margin-top: 38px;
      .soup-icon {
        font-size: 1.8rem;
        margin-top: 4px;
        color: black;
      }
    }
    .sub-title {
      margin: 50px 0 0 3px;
      font-family: $header-text;
      font-size: 1.1rem;
    }
  }
  .home-link p {
    margin-left: 8px;
    font-family: $header-text;
  }
}

.main-nav li a {
  text-decoration: none;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  height: 50px;
}
.main-nav li {
  margin-left: 20px;
  line-height: 2.2;
}
.main-nav a {
  color: #432;
  font-family: $header-text;
}
.main-nav a:hover {
  color: #0bd;
}

.my-page {
  display: flex;
  height: 28px;
  position: relative;
}

.current-username {
  margin-left: 5px;
}

.attachment.user.profile_image {
  border-radius: 50%;
  background: white;
  border: #ee82ee 1.5px solid;
}

.comments a {
  text-decoration: none;
}

.panel.is-link a {
  text-decoration: none;
}

.fa-circle:before {
  margin: -24px -12px;
  position: absolute;
}