.list-cafeterias {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-bottom: solid 2px #432;
  margin: 0px 14.5% 0 14.5%;
}
.like-cafeterias {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-bottom: solid 2px #432;
}
.likes-show {
  margin: 0px 14.5% 2% 14.5%;

}
.image img {
  height: 100%;
  // border-radius: 50%;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}