$top-text: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

#header .page-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
  font-family: $top-text;
  color: white;
  text-shadow:0 0 10px #cc3333;
}