.column.is-12 {
  border : solid 1px #333 ;
  display: flex;
  border: double 5px #4ec4d3;
  border-radius: 0.25rem;
}

.user-container {
  margin: 0 30%;
}

.like-cafeterias {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-bottom: solid 2px #432;
  border-left: solid 5px #432;
  margin-bottom: 3px;
  padding-left: 5px;
}

.list-cafeterias {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-bottom: solid 2px #432;
  margin: 0px 14.5% 0 14.5%;
  padding-left: 5px;
  border-left: solid 5px #432;
}

.button.is-primary {
  padding: 0 10px 0 10px;
  font-weight: bold;
  margin-bottom: 5px;
}