.column.is-12 {
  border : solid 1px #333 ;
  display: flex;
  border: double 5px #4ec4d3;
  border-radius: 0.25rem;
}

.user-container {
  margin: 0 30%;
}

.like-cafeterias {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-bottom: solid 2px #432;
  border-left: solid 5px #432;
  margin-bottom: 3px;
  padding-left: 5px;
}

.list-cafeterias {
  font-size: 20px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border-bottom: solid 2px #432;
  margin: 0px 14.5% 0 14.5%;
  padding-left: 5px;
  border-left: solid 5px #432;
}

#follow_form {
  margin-bottom: 5px;
  .edit_user {
    display: flex;
  }
}

#follow_form a {
  text-decoration: none;
}

.follow-btn {
  display: block;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
}

.unfollow-btn {
  display: block;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
  background: #EC407A;
	color: #fff;
  font-weight: bold;
  width: 106.4px;
}

.fcount {
  margin: 5px 0 0 15px;
}
.fcount2 {
  margin: 5px 15px 0 0; 
}
.edit-fcount-box {
  display: flex;
  margin-bottom: 5px;
}
.follow-text {
  border-bottom: 1px solid #432;
}
.follow-text:hover {
  border-bottom: 1px solid #0bd;
}

.no-follow_and_following {
  font-size: 30px;
  margin-top:2%;
  text-align:center;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.follow-img {
  background-image: url(images/follow.png);
  height: 42vh;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 2% 0 4.7% 0;
}

.button.is-primary {
  font-weight: bold;
  padding: 0 15px;
  margin: 0;
}

.edit-fcount-box a {
  text-decoration: none;
}

.likes-show a {
  text-decoration: none;
}